* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

.google-direitos {
  text-align: center;
  font-weight: bold;

  &.home2 {
    margin-top: 25px;
  }
}

.smartbanner-top {
  position: relative !important;
}

.smartbanner-info {
  width: calc(99% - 5px - 17px - 12px - 57px - 70px) !important;
}
.smartbanner-title {
  white-space: normal !important;
  font-size: 12px !important;
  line-height: 13px !important;
}

.smartbanner-wrapper {
  max-width: 70px !important;
}

.smartbanner-android .smartbanner-button {
  box-shadow: none !important;
}

.smartbanner-android .smartbanner-button-text {
  background: #244a88 !important;
  color: #fff !important;
  border: 0 !important;
  padding: 15px 10px !important;
  text-transform: uppercase;
}
a,
a:hover,
a:focus {
  text-decoration: none !important;
}

.text-politica {
  line-height: 13px;
  padding: 0 10px;
  margin: 3px 0 10px;
}

.button-select,
.ButtonSelect {
  transition: all 0.5s ease;
  text-decoration: none !important;
}

.button-select:hover,
.ButtonSelect:hover {
  color: #fff !important;
  background: #244a88 !important;
}

.ant-row-flex.ant-row-flex-center {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

input.form-input {
  font-size: 16px;
  color: #848484;
  font-family: "Gilroy-Medium";
}

.ant-select-selection__placeholder {
  font-family: "Gilroy-Medium";
  font-size: 16px;
}

.no-margin {
  margin: 0;
}

.text-right {
  text-align: right;
}

.progressLoading {
  .ant-progress-inner {
    border: solid 3px #00498a;
  }
  .ant-progress-bg {
    background: #00498a;
    height: 10px !important;
    position: relative;
    left: -1px;
    padding: 1px;
    box-sizing: content-box;
  }

  &.ant-progress-status-success {
    .ant-progress-bg {
      background: #00498a;
    }
  }
}

.search-form {
  .ant-select-auto-complete.ant-select .ant-select-selection--single {
    border-radius: 5px;
  }
  .ant-select {
    position: relative;
  }
  .ant-select-auto-complete.ant-select .ant-select-selection__rendered {
    height: 48px;
  }

  .ant-select-search {
    .ant-input {
      height: 48px !important;
    }
  }
}

.ant-select-dropdown-menu-item {
  font-family: "Gilroy-Medium";
}

.slogan {
  color: #fff;
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.46px;
  margin-left: 15px;
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.page-sobre,
.page-termos,
.page-contact {
  height: 100%;

  h2,
  h1 {
    color: #244a88;
    font-size: 23px;
    font-family: "Gilroy-SemiBold";
  }
  .container-sobre {
    padding: 80px 100px 40px;
    min-height: calc(100vh - 300px);
    display: block;
    align-items: center;

    h1 {
      text-align: center;
    }
  }
}

.page-contact {
  h2 {
    text-align: center;
    font-size: 23px;
  }

  .tit404 {
    span {
      display: block;
      font-size: 50px;
    }
  }

  .colCenter {
    text-align: center;
    .login-form-button {
      float: inherit;
      margin: 20px 0 50px;
    }
  }

  .login-form-button {
    float: right;
    width: 122px;
    height: 42px;
    color: #1d4189;
    background: #a2ea71;
    border: 0;
    font-family: "Gilroy-SemiBold";
    text-transform: uppercase;
    font-size: 16px;

    &:hover {
      background: #1d4189;
    }
  }
  .ant-form legend {
    border: 0;
    color: #787878;
    text-align: center;
    font-family: "Gilroy-SemiBold";
    margin: 30px 0;
  }

  input.ant-input {
    height: 45px;
    font-size: 20px;
    color: #244a88;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background: #244a88;
  }

  .inputCheck {
    label {
      color: #244a88;
      font-size: 15px;
      font-family: "Gilroy-Regular";
    }
  }

  .ant-checkbox-inner {
    width: 30px;
    height: 30px;

    &::after {
      height: 15px;
      width: 10px;
      left: 9px;
      top: 3px;
    }
  }

  .ant-select-selection__placeholder,
  .ant-select-search__field__placeholder,
  .ant-select-selection-selected-value {
    font-size: 20px;
    height: 45px;
    line-height: 30px;
  }

  .ant-select-selection-selected-value {
    position: relative;
    top: 5px;
    color: #244a88;
  }

  .ant-select-selection--single {
    height: 45px;
  }

  textarea.ant-input {
    resize: none;
    font-size: 20px;
    height: 100px;
    display: block;
    color: #244a88;
  }
}

form {
  .ant-btn-primary[disabled],
  .ant-btn-primary[disabled]:hover {
    color: #244a88 !important;
    background-color: #94fb75 !important;
  }

  .btn-comparar:hover {
    background: #244a88 !important;
    color: #fff !important;
  }
}

.ant-calendar-picker-container .ant-calendar {
  font-family: "Gilroy-Medium";
  border: none;
  border-radius: 4px;
  overflow: hidden;

  .ant-calendar-panel {
    .ant-calendar-input-wrap {
      display: none;
    }

    .ant-calendar-date-panel {
      .ant-calendar-header {
        height: 50px;
        background-color: #1f498a;

        .ant-calendar-prev-month-btn,
        .ant-calendar-next-month-btn {
          font-size: 40px;
        }

        .ant-calendar-prev-month-btn {
          left: 9px;
        }

        .ant-calendar-next-month-btn {
          right: 9px;
        }

        a,
        span {
          text-transform: uppercase;
          color: #8cc97c;
        }

        span {
          line-height: 50px;
        }

        .ant-calendar-prev-year-btn,
        .ant-calendar-next-year-btn {
          display: none;
        }
      }

      .ant-calendar-body {
        .ant-calendar-cell.ant-calendar-disabled-cell {
          .ant-calendar-date {
            color: #afafaf;
            font-weight: normal;
          }
        }
        .ant-calendar-date {
          color: #1d4583;
          font-weight: bold;
        }

        .ant-calendar-tbody {
          tr {
            td:first-child,
            td:last-child {
              &.ant-calendar-cell.ant-calendar-disabled-cell {
                .ant-calendar-date {
                  color: #afafaf;
                  font-weight: normal;
                }
              }

              &.ant-calendar-cell {
                .ant-calendar-date {
                  color: #1d4583;
                  font-weight: bold;
                }
              }
            }

            .ant-calendar-today .ant-calendar-date {
              border: 0;
              margin: 0;

              &::before {
                border: none;
              }
            }

            .ant-calendar-selected-day .ant-calendar-date {
              color: #fcfbff !important;
              background: #1d4583;
              border-radius: 4px;
            }
          }
        }
      }

      .ant-calendar-footer {
        display: none;
      }
    }
  }
}

.no-barra {
  display: none !important;
}

@media screen and (max-width: 992px) {
  .no-barra {
    display: block !important;
  }

  .yes-barra {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .page-rodoviario .BannerSearch,
  .page-urbano .BannerSearch,
  .page-locacao .BannerSearch,
  .page-aereo .BannerSearch,
  .page-carona .BannerSearch,
  .page-home .BannerSearch {
    background: #244a88 !important;
  }
  #root {
    background: #e6e6e6 !important;

    .main-info {
      background: #f8f8f8;
    }
  }

  .page-sobre,
  .page-termos,
  .page-contact {
    height: 100%;

    .container-sobre {
      padding: 80px 20px 40px;
    }
  }
}

.item-result,
.itemResult,
.ItemResult {
  background: #fff !important;
}

#root {
  background: #f8f8f8;
}

@media screen and (max-width: 520px) {
  .page-home .search-form .ant-calendar-picker,
  .page-home .search-form .field-mini,
  .page-home .search-form .field-big,
  .page-home .search-form .field-big-2,
  .page-home .search-form .field-extra,
  .page-home .search-form .field-medium,
  .page-home .search-form .ant-radio-group,
  .page-home .search-form .field-count {
    width: 100% !important;
  }
  .page-home {
    .search-form .swap-button {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    .search-form.form-carona .swap-button {
      margin: 30px auto;
      display: block;
      width: 57px;
      height: 57px;
    }
    .search-form.form-locacao .ant-radio-group label {
      width: 117px;
      font-size: 11px;
    }
    .search-form h1 {
      font-size: 18px !important;
    }

    .search-form.form-urbano .swap-button {
      margin: 1px auto 57px;
    }

    .search-form.form-carona {
      .field-medium,
      .field-big {
        width: 100%;
      }
    }
    .search-form.form-aereo .ant-radio-group label {
      width: 114px;
    }
  }

  .page-rodoviario .BannerSearch,
  .page-urbano .BannerSearch,
  .page-locacao .BannerSearch,
  .page-aereo .BannerSearch,
  .page-carona .BannerSearch,
  .page-home .BannerSearch {
    background: #244a88 !important;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 90%;
    overflow: hidden;
  }
}

.page-home {
  .form-urbano {
    .ant-select-auto-complete.ant-select .ant-input {
      transition: all 0.3s ease;
      border-color: #fff;
      border-right-width: 1px !important;
      outline: #40a9ff !important;
      border: solid #fff 1px;
    }
    .ant-select-auto-complete.ant-select .ant-input:hover {
      border-color: #40a9ff;
      border-right-width: 1px !important;
      border: solid 1px #40a9ff;
    }
  }
}

.page-urbano {
  .ant-select-auto-complete.ant-select .ant-input {
    transition: all 0.3s ease;
    border-color: #fff;
    border-right-width: 1px !important;
    outline: #40a9ff !important;
    border: solid #fff 1px;
  }
  .ant-select-auto-complete.ant-select .ant-input:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    border: solid 1px #40a9ff;
  }
}

.page-home {
  .search-form.form-aereo .ant-calendar-picker-input,
  .search-form.form-aereo .ant-calendar-picker-input {
    border: solid #fff 1px;
    transition: all 0.3s ease;
  }

  .search-form.form-aereo .ant-select-search .ant-input,
  .search-form.form-aereo
    .ant-select-auto-complete.ant-select
    .ant-select-selection__rendered {
    height: 47px !important;
  }

  .search-form.form-aereo .ant-calendar-picker-input:hover,
  .search-form.form-aereo .ant-calendar-picker-input:focus {
    border: solid #40a9ff 1px;
  }

  .form-aereo {
    &.search-form {
      .ant-select-auto-complete.ant-select .ant-select-selection--single,
      .ant-select-auto-complete.ant-select .ant-select-selection--single {
        border-color: #fff;
        border-right-width: 1px !important;
        border: solid 1px #fff;
      }
    }

    &.search-form {
      .ant-select-auto-complete.ant-select .ant-select-selection--single:hover,
      .ant-select-auto-complete.ant-select .ant-select-selection--single:focus {
        border-color: #40a9ff;
        border-right-width: 1px !important;
        border: solid 1px #40a9ff;
      }
    }

    .passenger {
      .ant-input {
        border-color: #fff;
        border-right-width: 1px !important;
        outline: #40a9ff !important;
        border: solid #fff 1px;

        &:hover,
        &:focus {
          border-color: #40a9ff;
          border-right-width: 1px !important;
          border: solid 1px #40a9ff;
        }
      }
    }
  }
}

.page-aereo {
  .passenger {
    .ant-input {
      border-color: #fff;
      border-right-width: 1px !important;
      outline: #40a9ff !important;
      border: solid #fff 1px;

      &:hover,
      &:focus {
        border-color: #40a9ff;
        border-right-width: 1px !important;
        border: solid 1px #40a9ff;
      }
    }
  }
  .search-form
    .ant-select-auto-complete.ant-select
    .ant-select-selection--single {
    border-color: #fff;
    border-right-width: 1px !important;
    outline: #40a9ff !important;
    border: solid #fff 1px;
  }

  .search-form.form-aereo .ant-select-search .ant-input,
  .search-form.form-aereo
    .ant-select-auto-complete.ant-select
    .ant-select-selection__rendered {
    height: 47px !important;
  }

  .search-form.form-aereo .ant-calendar-picker-input {
    border: solid #fff 1px;
  }

  .search-form
    .ant-select-auto-complete.ant-select
    .ant-select-selection--single:hover,
  .search-form
    .ant-select-auto-complete.ant-select
    .ant-select-selection--single:focus {
    border-color: #40a9ff;
    border-right-width: 1px !important;
  }

  .search-form.form-aereo .ant-calendar-picker-input:hover,
  .search-form.form-aereo .ant-calendar-picker-input:focus {
    border: solid #40a9ff 1px;
  }
}
