.page-aereo .Passengers span.number {
  display: block;
}

.search-form.form-locacao {
  .labelMenos {
    margin-bottom: -9px;
  }

  .ant-select-auto-complete.ant-select .ant-select-selection--single {
    height: 49px;

    input {
      height: 49px !important;
    }
  }
  .ant-form-item-control-wrapper {
    display: block !important;
  }
  .form-input,
  .ant-calendar-picker-input {
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
  }

  .ant-form-item {
    display: block;
    margin-right: 10px !important;
  }

  h1 {
    text-align: center;
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    font-size: 23px;
    font-weight: 400;
    line-height: 23.91px;
    border: 0;
    margin-bottom: 40px;
  }

  label {
    display: block;
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.46px;
    margin-bottom: -7px;
  }

  .ant-calendar-picker {
    height: 48px;
    border-radius: 5px;
  }

  .field-small {
    width: 38px;
  }

  .field-mini {
    width: 110px;
  }

  // .field-medium {
  //   width: 170px;
  // }

  // .field-big {
  //   width: 300px;
  // }

  // .field-extra {
  //   width: 670px;
  // }

  .field-full {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }

  .field-filtro {
    width: 100%;
  }

  .btn-comprar {
    margin: 0 auto;
    width: 310px;
    height: 48px;
    text-transform: uppercase;
    font-size: 20px;
  }

  .ant-radio-button-wrapper:not(:first-child)::before {
    display: none;
  }
  .swap-button-wrapper {
    text-align: center;
    position: relative;

    .swap-button {
      background-image: url("../../../assets/images/icons/ico-switch.svg");
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: transparent;
      margin-right: 10px;
      margin-top: 40px;
      cursor: pointer;
    }
  }

  .ant-radio-group {
    label {
      float: left;
      margin-right: 10px;
      border: 0;
      outline: 0;
      width: 150px;
      text-align: center;
      border-radius: 5px;
      color: #7e7e7e;
      font-family: "Gilroy-SemiBold";
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 32px;

      &:hover,
      &:active,
      &.ant-radio-button-wrapper-checked {
        background: #244a88;
        color: #fff;
      }
    }
  }

  .field-count {
    text-align: center;

    label {
      text-align: left;
    }

    span {
      width: 100%;
    }

    span.campo {
      height: 48px;
      position: relative;
      border-radius: 5px;
      background-color: #ffffff;
      display: block;
      overflow: hidden;
      box-sizing: border-box;
      padding: 0 8px;
    }

    span,
    button {
      padding: 0;
      display: inline-block;
      font-family: "Gilroy-Medium";
    }

    input.ant-input {
      border: 0;
      display: inline-block;
      font-family: "Gilroy-Regular";
      height: 48px;
      vertical-align: middle;
      font-size: 20px;
      position: relative;
      top: 0px;
      text-align: center;
      color: #999;
    }

    button {
      width: 15px;
      color: #244a88;
      font-size: 37px;
      font-family: "Gilroy-Light";
      height: 50px;
      background: #fff;
      vertical-align: middle;
      position: absolute;
      top: 0;
      z-index: 5;
      &:hover {
        cursor: pointer;
      }

      &:first-child {
        left: 15px;
      }

      &:last-child {
        right: 15px;
      }
    }
  }
}

.page-locacao {
  .BannerSearch {
    width: 100%;
    min-height: 535px;
    background: url("../../../assets/images/locacao/banner-locacao.png")
      no-repeat;
    padding: 120px 0;
  }

  .BannerFormSearch {
    background: url("../../../assets/images/locacao/bg-locacao.png") no-repeat;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 40px 15px;
  }

  @media screen and (max-width: 840px) {
    .search-form.form-locacao {
      .field-extra {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .search-form.form-locacao .swap-button-wrapper .swap-button {
      width: 57px;
      height: 57px;
      margin-top: 30px;
    }
    .BannerSearch {
      height: auto;
      background-size: cover;
      padding: 20px 0;
    }

    .search-form.form-locacao .ant-calendar-picker {
      width: 100% !important;
    }

    .search-form.form-locacao {
      .ant-calendar-picker,
      .field-mini,
      .field-big,
      .field-extra,
      .field-medium,
      .ant-radio-group {
        width: 100%;
      }

      .field-count {
        width: 100% !important;
      }

      .ant-radio-group {
        label {
          width: 48%;
          margin-bottom: 5px;
        }

        label:last-child {
          margin-right: 0;
        }
      }

      .swap-button {
        display: block;
        margin: 12px auto 5px;
        transform: rotate(90deg);
      }
    }

    .BannerFormSearch {
      height: auto;
      background-size: cover;
      padding: 20px;
      border-radius: 10px;

      .btn-comparar {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  @media screen and (max-width: 320px) {
    .search-form.form-locacao {
      .ant-radio-group {
        label {
          width: 117px;
          font-size: 11px;
        }
      }
    }
  }
}
