.search-form.form-urbano {
  margin-top: 40px;
  padding: 0px 0 40px;

  .search-row {
    margin: 20px 0 30px;
  }

  .google-direitos {
    margin-bottom: 20px;
    border:solid;
  }

  .ant-form-item-required:before {
    display: none;
  }

  .ant-form-item-control-wrapper {
    display: block !important;
  }
  .form-input,
  .ant-calendar-picker-input {
    height: 48px;
    border-radius: 5px;
    background-color: #fff;
    font-family: "Gilroy-SemiBold";
  }

  .ant-input {
    font-family: "Gilroy-Medium";
    font-size: 16px;
  }

  .fields-container {
    width: 100%;
    display: block;
    margin: auto;
    max-width: 1020px;
  }
  h1 {
    text-align: center !important;
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    font-size: 20px;
    font-weight: 400;
    line-height: 23.91px;
    border: 0;
    margin-bottom: 10px;
  }

  label {
    display: block;
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.46px;
    margin-bottom: -7px;
  }

  .ant-calendar-picker {
    height: 48px;
    border-radius: 5px;
  }

  .field-small {
    width: 58px;
  }

  .field-big {
    width: 100%;
    .ant-select-selection__rendered,
    input {
      height: 50px !important;
      border: 0;
    }

    input {
      padding-right: 50px;
    }
  }

  .field-full {
    width: 100%;
    text-align: center;
  }

  .no-margin {
    margin-right: 0;
  }

  .swap-button-wrapper {
    text-align: center;
    position: relative;
    top: 30px;
    .swap-button {
      background-image: url("../../../assets/images/icons/ico-switch.svg");
      display: inline-block;
      width: 57px;
      height: 57px;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.page-urbano {
  .BannerSearch {
    width: 100%;
    min-height: 535px;
    background: url("../../../assets/images/urbano/banner-urbano.jpg") no-repeat;
    padding: 120px 0;
  }

  .BannerFormSearch {
    background: url("../../../assets/images/urbano/bg-urbano.png") no-repeat;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 520px) {
    .BannerSearch {
      height: auto;
      background-size: cover;
      padding: 20px 0;
    }

    .BannerFormSearch {
      height: auto;
      background-size: cover;
      padding: 20px 0;

      .btn-comparar {
        width: 100%;
      }
    }

    .search-form.form-urbano {
      margin-top: 15px;
      padding: 0px 0 15px;
    }

    .swap-button-wrapper {
      .swap-button {
        margin: 0px 0 33px;
        transform: rotate(90deg);
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .search-form.form-urbano .swap-button-wrapper {
    top: 20px;
  }
}

.btn-location {
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  background-image: url("../../../assets/images/icons/ico_location.png") !important;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.btn-comparar {
  margin: 0 auto;
  width: 310px;
  height: 48px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Gilroy-Medium";
  background: #a2ea71;
  color: #244a88;
  border: none;
  a {
    color: #244a88 !important;
  }
  &:hover {
    color: #244a88 !important;
    background-color: #8ad05b;
  }
}
