.breadcrumb {
  box-sizing: border-box;
  height: 30px;
  overflow: hidden;
  background-color: #1f4480;
  padding: 3px;
  ul.menu-breadcrumb {
    float: left;

    li {
      float: left;
      box-sizing: border-box;
      padding: 0 15px;
      position: relative;
      color: #ffffff;
      font-family: "Gilroy-Medium";
      font-size: 12px;
      font-weight: 400;

      &::before {
        content: "";
        height: 9px;
        width: 5px;
        background: url("../images/icons/ico-next.svg");
        position: absolute;
        top: 6px;
        right: -1px;
      }

      &.btn-prev {
        width: 90px;

        &::before {
          display: none;
        }

        &::after {
          content: "";
          top: 6px;
          height: 9px;
          width: 5px;
          background: url("../images/icons/ico-prev.svg");
          left: 1px;
          position: absolute;
        }
      }

      &:last-child {
        &::before {
          display: none;
        }
      }
    }

    a {
      color: #ffffff;
      font-family: "Gilroy-Medium";
      font-size: 12px;
      font-weight: 400;
      transition: color 0.5s ease;

      &:hover {
        color: #94fb75;
      }
    }
  }
  .buttons-app {
    float: right;

    a {
      margin-left: 5px;
    }
    img.app {
      width: 78px;
    }
  }
}

.page-home {
  .breadcrumb {
    display: none;
  }

  header {
    .slogan {
      display: none;
    }
  }
}

@media screen and (max-width: 1180px) {
  .BannerFormSearch {
    background-size: cover !important;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumb {
    display: none;
  }
}
