.main-info {
  padding: 60px 0;

  h1,
  h2 {
    text-align: center;
    margin-bottom: 50px;
    display: block;
    color: #666666;
    font-size: 29px;
    font-family: "Gilroy-Regular";
    line-height: 1.1;
    strong {
      font-family: "Gilroy-Bold";
    }
  }

  h3 {
    color: #244a88;
    font-size: 23px;
    font-family: "Gilroy-SemiBold";
    text-align: center;
  }

  p {
    color: #6e6e6e;
    font-size: 15px;
    line-height: 1.8;
  }

  .ant-row-flex {
    span.icon {
      width: 100%;
      min-height: 85px;
      display: inline-block;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
