.main-footer {
  width: 100%;
  min-height: 300px;
  background-color: #244a88;
  box-sizing: border-box;
  padding: 30px 0;

  .yes-mobile {
    display: none;
  }

  .buttons-app {
    float: right;
    margin-top: 4px;
    a {
      margin-left: 10px;
      text-decoration: none;
    }
  }

  .topo-footer {
    border-bottom: solid 1px #325793;
    padding-bottom: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }

  .bottom-footer {
    overflow: hidden;
  }

  .navigation {
    li {
      display: inline-block;
      font-family: "Gilroy-Medium";
      color: #fff;
      text-transform: lowercase;
      margin-right: 20px;
      font-size: 16px;
      a {
        color: #fff;
        &:hover {
          color: #94fb75;
        }
      }
    }

    .social-links {
      margin-right: 0;
    }
  }

  .menu-footer {
    float: left;
    li {
      margin: 10px 0;
      a {
        color: #fff;
        font-size: 16px;
        font-family: "Gilroy-Light";
        text-transform: lowercase;

        &:hover {
          color: #94fb75;
        }

        span.icon {
          display: inline-block;
          width: 50px;
          text-align: center;
          margin: 0 20px;
          img {
            filter: brightness(200%) saturate(0%);
            -webkit-filter: brightness(200%) saturate(0%);
            -moz-filter: brightness(200%) saturate(0%);
            opacity: 0.7;
          }
        }
      }
      strong {
        font-family: "Gilroy-ExtraBold";
      }
    }
  }

  .icon-circ {
    display: inline-block;
    margin-left: 15px;
    a {
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      width: 26px;
      height: 26px;
      overflow: hidden;
      text-indent: -999em;
      background-color: #fff;
      border-radius: 50%;
      transition: transform 0.3s ease-in-out;
      will-change: transform;
      &:hover {
        transform: scale(1.2);
      }

      img {
        display: block;
        margin: 4px auto 0;
      }
    }
  }
}

.bannerFooter {
  background: url("../images/home/bg-banner.png");
  height: 170px;

  .container {
    position: relative;

    &::before {
      content: "";
      background: url("../images/home/devices.png") no-repeat;
      width: 550px;
      height: 233px;
      position: absolute;
      left: 0;
      top: -62px;
    }
  }

  .infoBanner {
    width: 320px;
    float: right;
    margin-top: 30px;
    margin-right: 90px;

    h3 {
      width: 254px;
      height: 54px;
      color: #ffffff;
      font-family: "Gilroy-ExtraBold";
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      padding-top: 10px;
      display: block;

      span {
        display: block;
      }
    }

    p {
      color: #ffffff;
      font-family: "Gilroy-SemiBold";
      font-size: 14px;
      font-weight: 400;
      margin-top: 20px;
      a {
        margin-right: 5px;
        img {
          width: 65px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .bannerFooter {
    .container {
      overflow: inherit;
    }

    .infoBanner {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .bannerFooter {
    .container {
      &::before {
        width: 400px;
        background-size: 100%;
        top: -20px;
        height: 190px;
      }
    }

    .infoBanner {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 820px) {
  .bannerFooter {
    .container {
      &::before {
        width: 300px;
        background-size: 100%;
        top: -5px;
        height: 170px;
      }
    }

    .infoBanner {
      margin-right: 0;
    }
  }
  .main-footer {
    padding: 50px 0;
    .topo-footer {
      padding: 0 20px;
      display: block;
      text-align: center;

      div {
        margin-bottom: 30px;
      }
    }

    .bottom-footer {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 769px) {
  .bannerFooter {
    height: 350px;
    background-size: cover;
    background-position: center;
    background-size: 160%;

    .container {
      height: 100%;
      &::before {
        width: 100%;
        background-size: 320px;
        background-repeat: no-repeat;
        background-position: top center;
        top: inherit;
        bottom: 0;
        height: 165px;
      }
    }

    .infoBanner {
      float: inherit;
      margin: 0 auto;
      padding: 30px 0;
    }
  }
}

@media screen and (max-width: 520px) {
  .topf {
    overflow: hidden;
  }
  .main-footer {
    .yes-mobile {
      display: block;
      padding: 0 25px;
    }

    .menu-footer li a span {
      margin-left: 3px;
    }

    .no-mobile {
      display: none;
    }

    .slogan {
      float: right;
      width: 100px;
      text-align: right;
    }

    .bottom-footer {
      margin-top: 20px;
      padding: 20px 0;
      border-top: solid 1px #3a5c94;
      border-bottom: solid 1px #3a5c94;
      margin-bottom: 20px;
      clear: both;
      width: 100%;
    }

    .topo-footer {
      .navigation {
        padding: 0 25px;
        margin-top: 70px;
        li {
          display: block;
          width: 100%;
          text-align: left;
        }
      }
    }

    .navigation {
      li {
        display: block;
        margin-bottom: 10px;
      }
    }

    .menu-footer,
    .buttons-app {
      float: inherit;
    }

    .buttons-app {
      margin-top: 80px;
      margin-left: 0px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 375px) {
  .bannerFooter {
    height: 350px;
    background-size: cover;
    background-position: center;
    background-size: 160%;
    .container {
      height: 100%;
      &::before {
        width: 90%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        top: inherit;
        bottom: -50px;
        height: 200px;
      }

      p {
        span {
          display: block;
        }
      }
    }

    .infoBanner {
      float: inherit;
      margin: 0 auto;
      padding: 30px 0;
      width: 100%;

      h3 {
        display: block;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .bannerFooter {
    height: 350px;
    background-size: cover;
    background-position: center;
    background-size: 160%;
    .container {
      height: 100%;
      &::before {
        width: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        top: inherit;
        bottom: 0px;
        height: 183px;
      }

      p {
        span {
          display: block;
        }
      }
    }

    .infoBanner {
      float: inherit;
      margin: 0 auto;
      padding: 30px 0;
      width: 100%;

      h3 {
        display: block;
        width: 100%;
      }
    }
  }

  .bannerFooter .infoBanner h3 {
    font-size: 20px;
    line-height: 22px;
  }
  .main-footer .buttons-app a {
    margin-left: 4px;
  }
}
