.page-home {
  .search-form.form-urbano {
    margin-top: 0;

    h1 {
      text-align: center;
      color: #244a88;
      font-family: "Gilroy-SemiBold";
      font-size: 23px;
      font-weight: 400;
      line-height: 23.91px;
      border: 0;
      margin-bottom: 40px;
    }
  }
  header {
    .menu-header {
      .homebtn {
        display: block;
        float: right;

        &.glink {
          padding-left: 15px;
        }

        img {
          position: relative;
          top: -2px;
        }
      }
    }
  }
}

header {
  width: 100%;
  height: 61px;
  background-color: #244a88;
  box-sizing: border-box;
  padding: 12px 0;

  .menu-container {
    float: right;
  }

  .open-menu,
  .top-menu {
    display: none;
  }

  .buttons-app {
    float: right;
    margin-top: 4px;
    a {
      margin-left: 10px;
      text-decoration: none;
    }
  }

  .menu-header {
    float: right;
    margin-top: 5px;

    .homebtn {
      display: none;
    }

    li {
      display: inline-block;
      margin-left: 10px;

      a {
        color: #ffffff;
        font-family: "Gilroy-Medium";
        font-size: 16px;
        font-weight: 400;
        transition: color 0.5s ease;
        border-bottom: 3px solid transparent;

        b {
          display: none;
        }

        &:hover {
          color: #94fb75;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .menu-container {
      background: #fff;
      position: fixed;
      float: inherit;
      height: 100%;
      width: 100%;
      left: 110%;
      top: 0;
      z-index: 99999;
      display: block;
      transition: left 0.5s ease;

      &.visible {
        left: 0;
      }

      .top-menu {
        display: block;
        padding: 20px;
        margin-bottom: 20px;

        img {
          width: 80px;
        }

        i {
          float: right;
          font-size: 24px;
          font-weight: bold;
          color: #244a88;
          cursor: pointer;
        }
      }

      .menu-header {
        float: inherit;
        li {
          display: block;
          padding: 10px 20px;
          &.homebtn {
            display: none;
          }

          a {
            color: #244a88;
            b {
              margin-right: 15px;
              width: 70px;
              text-align: center;
              display: inline-block;
            }

            span {
              font-family: "Gilroy-Bold";
              margin-left: -3px;
            }
          }
        }
      }
    }
    .slogan {
      display: none;
    }

    .open-menu {
      margin-top: 5px;
      color: #fff;
      display: block;
      float: right;
      font-weight: bold;
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.page-carona {
  .menu-carona {
    a {
      color: #94fb75;
    }
  }
}

.page-aereo {
  .menu-aereo {
    a {
      color: #94fb75;
    }
  }
}

.page-locacao {
  .menu-locacao {
    a {
      color: #94fb75;
    }
  }
}

.page-urbano {
  .menu-urbano {
    a {
      color: #94fb75;
    }
  }
}

.page-rodoviario {
  .menu-rodoviario {
    a {
      color: #94fb75;
    }
  }
}
