.info-wrapper {
  height: 80px;
  padding: 12px 0;
  background-color: #a2ea71;

  p {
    margin: 0;
  }

  .ButtonBack {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.45px;
    padding-left: 20px;
    text-transform: uppercase;
    font-family: "Gilroy-Bold";
    color: #244a88;

    &:before {
      content: "";
      width: 14px;
      height: 23px;
      position: absolute;
      left: 0;
      background-image: url("../images/icons/VOLTAR.png");
      background-repeat: no-repeat;
    }

    &:hover {
      color: #244a88;
    }
  }

  .InfosAddress {
    p {
      font-size: 19px;
      letter-spacing: 0.43px;
      color: #244a88;
      font-family: "Gilroy-SemiBold";
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 50%;
      }

      span {
        margin-left: 30px;
        text-transform: uppercase;
      }

      &.AddressStart {
        &:before {
          background: #fff;
        }
      }

      &.AddressEnd {
        &:before {
          background: #244a88;
        }
      }
    }

    &:before {
      content: "";
      display: inline-block;
      width: 4px;
      height: 28px;
      background: #fff;
      position: absolute;
      left: 7px;
      top: 10px;
    }
  }

  .EditCol {
    text-align: right;
  }

  .ButtonEdit {
    width: 190px;
    height: 48px;
    background: #fff;
    text-align: center;
    line-height: 48px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    display: inline-block;
  }

  // Aereo

  .AirportWrapper {
    display: flex;
    align-items: center;
  }

  .Airport {
    font-family: "Gilroy-Bold";
    font-size: 26px;
    line-height: 17.06px;
    letter-spacing: 0.43px;
    text-transform: uppercase;
    color: #244a88;
    display: inline-block;
  }

  .Airplane {
    padding: 0 15px;
  }
  .Passengers {
    font-family: "Gilroy-SemiBold";
    font-size: 16px;
    line-height: 17.9px;
    letter-spacing: 0.53px;
    padding-left: 18px;
    text-transform: uppercase;
    color: #244a88;
  }
}

@media screen and (max-width: 590px) {
  .info-wrapper {
    height: auto;

    .Passengers {
      width: 100%;
      text-align: right;
      span {
        display: block;
      }
    }

    .ant-col-xs-15,
    .EditCol {
      width: 100%;
    }

    .ButtonEdit {
      margin-top: 10px;
      width: 100%;
      height: 28px;
      background: #fff;
      line-height: 28px;
      border-radius: 5px;
    }

    .ButtonBack {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.45px;
      padding-left: 20px;
      text-transform: uppercase;
      font-family: "Gilroy-Bold";
      color: #244a88;

      &:before {
        content: "";
        width: 14px;
        height: 23px;
        position: absolute;
        left: 0;
        background-image: url("../images/icons/VOLTAR.png");
        background-repeat: no-repeat;
      }

      &:hover {
        color: #244a88;
      }
    }

    .InfosAddress {
      p {
        font-size: 16px;

        &:before {
          content: "";
          width: 12px;
          height: 12px;
        }
      }

      &:before {
        content: "";
        display: inline-block;
        width: 3px;
        height: 28px;
        background: #fff;
        position: absolute;
        left: 5px;
        top: 10px;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .info-wrapper {
    .Airport {
      font-size: 18px;
    }
    .Passengers {
      font-size: 14px;
    }
  }
}
