.main-menu {
  height: 96px;
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    li {
      list-style: none;
      display: inline-block;
      width: 20%;
      text-align: center;
      height: 100%;
      span {
        display: block;
        min-height: 35px;
      }
      img {
      }
      a {
        display: block;
        padding: 19px 0;
        height: 100%;
        font-size: 20px;
        color: #244a88;
        font-family: 'Gilroy-Light';
        box-sizing: border-box;
        strong {
          font-family: 'Gilroy-ExtraBold';
        }
        &:hover,&.active {
          background: #a2ea71;
        }
      }
    }
  }
}
