.sidebar {
  background: #244a88;
  border-radius: 4px;
  margin-bottom: 20px;
}

.btnAction {
  color: #fff;
  font-family: "Gilroy-SemiBold";
  padding: 20px 10px;
  font-size: 16px;
  cursor: pointer;
  position: relative;

  &.btnOpen {
    &::before {
      background-image: url("../images/icons/ico-down.png");
    }
  }

  &.btnClose {
    &::before {
      background-image: url("../images/icons/ico-close.png");
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;

    background-repeat: no-repeat;
  }
}
h2.title-filter {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  font-family: "Gilroy-SemiBold";
  padding: 10px 10px 0;
  margin-bottom: 20px;
  letter-spacing: 0.0075em;
}

.form-filter {
  padding-bottom: 15px;
  fieldset {
    padding: 10px;
    border-bottom: 1px solid #99b6d0;
    margin-bottom: 15px;
    &:last-child {
      border-bottom: none;
    }
  }
  .field-holder {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
  }

  fieldset:nth-child(5) {
    margin-bottom: 10px;
  }
}

.apply-filter {
  display: block;
  width: 90%;
  margin: 0 auto;
  background: transparent;
  border: 1px solid #99b6d0;
  font-family: "Gilroy-Medium";
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px;
  background: #fff;
  color: #00498a;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.5s ease;
  &:hover {
    background: #a2ea71;
    color: #00498a;
  }
}

.filter-type {
  font-size: 16px;
  color: #a2ea71;
  text-transform: uppercase;
  font-family: "Gilroy-Medium";
}

// switch
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.switch-containter {
  span {
    display: inline-block;
    font-size: 1.1em;
    color: #fff;
    font-family: "Gilroy-Regular";
    margin-right: 10px;
    vertical-align: middle;
  }
}

.cmn-toggle {
  position: absolute;
  text-indent: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 50px;
  height: 25px;
  border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 25px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  width: 23px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #a2ea71;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 25px;
}

.slide-side {
  margin-top: 5px;
  margin-bottom: 0;

  .ant-slider-rail {
    height: 3px;
  }

  &:hover .ant-slider-track {
    background-color: #a2ea71;
  }

  .ant-slider-track {
    height: 3px;
    background-color: #a2ea71;
  }

  .ant-slider-handle {
    width: 18px;
    height: 18px;
    border: none;
    margin-left: -9px;
    margin-top: -8px;
    background-color: #a2ea71;
  }
}
