.main-footer .buttons-app {
  display: none !important;
}

.page-sobre {
  .container-sobre {
    .logo-transition {
      margin-bottom: 40px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.page-termos,
.page-contact,
.page-sobre {
  .logo-transition {
    text-align: center;
  }

  h2 {
    color: #244a88;
    font-size: 23px;
    font-family: "Gilroy-SemiBold";
    text-align: center;
  }
  .bannerFooter {
    margin-top: 90px;
  }
}

.tabHome {
  padding: 0 20px;

  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    color: #244a88 !important;
  }

  .spanIco {
    height: 40px;
    i {
      position: relative;
      display: inline-block;
      height: 40px;
      width: 50px;

      img {
        position: absolute;
        top: 3px;
        left: 0;
      }

      &.iLocacao {
        left: 8px;
      }

      &.iUrbano {
        img {
          top: 12px;
        }
      }

      &.iRodoviario {
        img {
          top: 15px;
        }
      }

      &.iCarona {
        img {
          top: 12px;
        }
      }

      .icoHover {
        opacity: 0;
        transition: opacity 0.5s ease;
      }
    }
  }

  .ant-tabs-bar {
    border: 0;
  }

  .ant-tabs-nav-scroll {
    overflow: inherit !important;
  }

  legend {
    text-align: left !important;
    margin-bottom: 20px !important;
  }
  &.ant-tabs {
    overflow: inherit !important;
    padding: 0;
  }
  &.ant-tabs.ant-tabs-card {
    .ant-tabs-nav-container {
      height: auto !important;
      width: 100% !important;
    }
  }

  .ant-tabs-nav {
    width: 100%;
  }

  .ant-tabs-content {
    background: rgba(241, 241, 241, 0.9) !important;
    min-height: 300px;
    margin-top: -22px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px !important;
    border-top-left-radius: 0 !important;
    // -webkit-box-shadow: -1px 0px 30px -8px rgba(0,0,0,0.75);
    // -moz-box-shadow: -1px 0px 30px -8px rgba(0,0,0,0.75);
    // box-shadow: -1px 0px 30px -8px rgba(0,0,0,0.75);
    position: relative;
    z-index: 700;
  }

  .ant-tabs-tab {
    width: 19%;
    display: block !important;
    float: left;
    height: 120px !important;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0 !important;
    color: #244a88;
    font-family: "Gilroy-Regular";
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    background: rgba(241, 241, 241, 0.6) !important;
    border: 0 !important;
    position: relative;

    &.ant-tabs-tab-active,
    &:hover,
    &:focus {
      background: rgba(241, 241, 241, 0.9) !important;
      position: relative;
      color: #244a88 !important;

      .icoHover {
        opacity: 1;
      }
    }

    strong {
      font-family: "Gilroy-Bold";
      font-weight: 900;
      text-transform: lowercase;
    }

    span.text {
      display: block;
    }
  }
}

.page-home {
  .BannerSearch {
    width: 100%;
    min-height: 505px;
    background-size: cover;
    box-sizing: border-box;
    padding: 40px 0;
    transition: background-image 1s ease;
  }

  @media screen and (max-width: 760px) {
    .search-form {
      .ant-calendar-picker,
      .field-mini,
      .field-extra,
      .field-big,
      .field-big-2,
      .field-medium,
      .ant-radio-group,
      .field-count {
        width: 100% !important;
      }

      .field-count {
        .ant-form-item-children {
          width: 100%;

          .campo {
            width: 100%;

            input.ant-input {
              width: calc(100% - 40px) !important;
            }
          }
        }
      }

      .ant-radio-group {
        label {
          width: 48%;
        }

        label:last-child {
          margin-right: 0;
        }
      }

      .swap-button {
        display: block;
        margin: 30px auto;
      }
    }

    .tabHome .ant-tabs-content {
      margin-top: -16px;
    }

    .search-form.form-carona .swap-button {
      display: block;
      margin: 30px auto;
    }
    .tabHome .ant-tabs-tab {
      display: inline-block !important;
      float: inherit;
      height: 65px !important;
      width: 19% !important;
      font-size: 15px;
      padding-top: 12px !important;

      span {
        img {
          width: 40px;
          left: 10%;
        }
      }

      .text {
        display: none;
      }
    }
  }

  @media screen and (max-width: 520px) {
    .BannerSearch {
      height: auto;
      background-size: cover;
    }

    .search-form {
      .ant-calendar-picker,
      .field-mini,
      .field-big,
      .field-medium,
      .ant-radio-group,
      .field-count {
        width: 100%;
      }

      .field-count {
        .ant-form-item-children {
          width: 100%;

          .campo {
            width: 100%;

            input.ant-input {
              width: calc(100% - 40px) !important;
            }
          }
        }
      }

      .ant-radio-group {
        label {
          width: 48%;
        }

        label:last-child {
          margin-right: 0;
        }
      }

      .swap-button {
        display: block;
        margin: 30px auto;
      }
    }

    .btn-comparar {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .tabHome .ant-tabs-content {
      margin-top: -16px;
    }

    .tabHome .ant-tabs-tab {
      display: inline-block !important;
      float: inherit;
      height: 55px !important;
      width: 19% !important;
      font-size: 15px;
      padding-top: 8px !important;

      span.spanIco {
        img {
          width: 30px;
          left: 20%;
        }

        i.iAereo {
          img {
            top: 10px;
          }
        }

        i.iLocacao {
          img {
            top: 8px;
            left: 10%;
          }
        }
      }

      .text {
        display: none;
      }
    }

    .ant-tabs-tab-prev-icon:before,
    .ant-tabs-tab-next-icon:before {
      font-size: 20px !important;
    }
    .BannerFormSearch {
      height: auto;
      background-size: cover;
      padding: 20px;
      border-radius: 10px;
    }
  }
}
