.main-transition {
  background: #f1f1f1;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.loaderMain {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  overflow: hidden;
}

.loaderInfo {
  position: absolute;
  top: 140px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  color: #244a88;
  text-align: center;

  .tit {
    font-family: "Gilroy-bold";
    font-size: 22px;
    line-height: 24px;
    margin: 0;
  }

  .dot {
    color: #244a88;
    font-family: "Gilroy-bold";
    font-size: 40px;
    display: block;
    height: 30px;
    line-height: 7px;
  }

  .desc {
    font-family: "Gilroy-Medium";
    display: block;
    max-width: 250px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
  }
}

.loader {
  border: 8px solid #fff; /* Light grey */
  border-top: 8px solid #2c5aa2; /* Blue */
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 680px) {
  .loaderMain {
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
  }

  .loaderInfo {
    top: 210px;
  }
}

@media screen and (max-width: 530px) {
  .loaderMain {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
  }

  .loaderInfo {
    top: 80px;
    .tit {
      display: block;
      width: 250px;
      margin: 0 auto;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 320px) {
  .loaderMain {
    width: 290px;
    height: 290px;
    margin-left: -145px;
    margin-top: -145px;
  }

  .loaderInfo {
    top: 80px;
    .tit {
      display: block;
      width: 250px;
      margin: 0 auto;
      font-size: 18px;
    }
  }
}
