.item-result.item-air {
  background: #f8f8f8;
  box-sizing: border-box;
  padding: 20px 20px 5px 20px;
  margin-bottom: 20px;

  .text-gray {
    opacity: 0.6;
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Gilroy-SemiBold";
    letter-spacing: 0.37px;
    margin: 0 0 -5px;
    padding: 0;
  }

  .text-blue {
    color: #244a88;
    font-size: 20px;
    font-family: "Gilroy-Medium";
    font-weight: 500;
    letter-spacing: 0.22px;
    margin: 0;
    padding: 0;

    small {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .voodireto {
    text-align: right;
  }

  .footer-result {
    border-top: 1px solid #efefef;
    padding: 5px 0 0;
    text-align: left;
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.37px;
    margin-top: 10px;
    font-family: "Gilroy-SemiBold";

    .spanlink {
      color: #595959;
    }
  }

  .button-select {
    display: block;
    background: #a2ea71;
    color: #244a88;
    height: 32px;
    text-align: center;
    text-transform: uppercase;
    line-height: 32px;
    border-radius: 5px;
  }

  .val-result {
    color: #244a88;
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.29px;
    font-family: "Gilroy-Medium";
  }

  .description-mini {
    opacity: 0.6;
    color: #595959;
    font-family: "Gilroy-SemiBold";
    font-size: 14px;
    font-weight: 500;
    line-height: 18.48px;
    font-weight: 500;
    letter-spacing: 0.37px;
    margin-top: 5px;

    span {
      display: block;
    }
  }

  .divisor {
    border-bottom: dotted 1px #ccc;
    margin: 20px 0;
  }

  .ico-company {
    float: left;
    width: 90%;
    margin-top: 5px;
  }

  @media screen and (max-width: 768px) {
    .voodireto {
      text-align: left;
    }

    .ant-col-offset-4 {
      margin-left: 0;
    }

    .footer-result {
      padding: 15px 0;
    }

    .val-result {
      float: right;
    }

    .button-select {
      margin-top: 10px;
    }

    .ico-aviao {
      width: 20px;
    }

    .ico-company {
      float: right;
      width: 80px;
      position: relative;
      top: -12px;
    }
  }
}
