.TextGray {
  opacity: 0.6;
  color: #595959;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Gilroy-SemiBold";
  letter-spacing: 0.37px;
  margin: 0 0 -5px;
  padding: 0;
}

.TextBlue {
  color: #244a88;
  font-size: 20px;
  font-family: "Gilroy-Medium";
  font-weight: 500;
  letter-spacing: 0.22px;
  margin: 0;
  padding: 0;
  line-height: 24px;

  small {
    font-size: 19px;
    text-transform: uppercase;
    font-family: "Gilroy-SemiBold";
    font-weight: 400;
  }

  span {
    display: block;
  }
}

.RowInfo {
  &.topo {
    margin-bottom: 20px;
  }
}

.ItemResult {
  border-radius: 5px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  padding: 20px 20px 5px 20px;
  margin-bottom: 20px;
}

.FooterResult {
  border-top: 1px solid #efefef;
  padding: 5px 0 0;
  text-align: right;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.37px;
  margin-top: 10px;
  font-family: "Gilroy-SemiBold";
}

.ButtonSelect {
  display: block;
  background: #a2ea71;
  height: 32px;
  text-align: center;
  text-transform: uppercase;
  line-height: 32px;
  border-radius: 5px;
  margin-top: 60px;
  color: #2e5786;
  font-family: "Gilroy-SemiBold";
}

.ValResult {
  color: #244a88;
  font-size: 27px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.29px;
  font-family: "Gilroy-Medium";
}

.ItemResult.itemRide .col-data {
  position: relative;
  height: 100px;
  p {
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.09px;
    position: absolute;
    bottom: -15px;
  }

  span {
    position: absolute;
    right: 15px;
    top: 25px;
    display: block;
    height: 72%;
    width: 10px;
    border-left: solid 2px #b0b0b0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 25px;
      background: #b0b0b0;
      right: 2px;
    }

    &::after {
      bottom: -2px;
      background: #244a88;
    }
  }
}

@media screen and (max-width: 768px) {
  .ItemResult.itemRide {
    .col-data {
      height: 45px;

      p {
        bottom: -10px;
      }

      span {
        top: 62px;
        right: 0;
        height: 170px;
      }
    }

    .FooterResult {
      .product {
        margin-top: 11px;
      }
      .product,
      p {
        font-size: 12px;
      }

      .ValResult {
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .ItemResult.itemRide .ButtonSelect {
    margin-top: 20px;
  }
  .ItemResult.itemRide .col-data {
    height: 30px;

    p {
      bottom: 0px;
      line-height: 190px;
    }

    span {
      top: 60px;
      right: 5px;
      height: 140px;
    }

    img {
      width: 120px;
    }
  }
}
