@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.otf') format('opentype'),
    url('../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf') format('truetype'),
    url('../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.svg#Gilroy-ExtraBold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/Gilroy-Light/Gilroy-Light.svg#Gilroy-Light') format('svg'),
    url('../fonts/Gilroy-Light/Gilroy-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Gilroy-Light/Gilroy-Light.otf') format('opentype'),
    url('../fonts/Gilroy-Light/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light/Gilroy-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../fonts/Gilroy-Medium/Gilroy-Medium.svg#Gilroy-Medium')
      format('svg'),
    url('../fonts/Gilroy-Medium/Gilroy-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Gilroy-Medium/Gilroy-Medium.otf') format('opentype'),
    url('../fonts/Gilroy-Medium/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../fonts/Gilroy-SemiBold/Gilroy-SemiBold.svg#Gilroy-SemiBold')
      format('svg'),
    url('../fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBold/Gilroy-SemiBold.otf') format('opentype'),
    url('../fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/Gilroy-Bold/Gilroy-Bold.svg#Gilroy-Bold') format('svg'),
    url('../fonts/Gilroy-Bold/Gilroy-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Gilroy-Bold/Gilroy-Bold.otf') format('opentype'),
    url('../fonts/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/Gilroy-Regular/Gilroy-Regular.svg#Gilroy-Regular') format('svg'),
    url('../fonts/Gilroy-Regular/Gilroy-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Gilroy-Regular/Gilroy-Regular.otf') format('opentype'),
    url('../fonts/Gilroy-Regular/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
