.search-form.form-aereo {
  .ant-calendar-panel {
    font-family: "Gilroy-Medium";
  }
  .ant-form-item-control-wrapper {
    display: block !important;
  }
  .form-input,
  .ant-calendar-picker-input {
    height: 48px;
    border-radius: 5px;
    background-color: #ffffff;
  }

  .ant-select-auto-complete.ant-select .ant-select-selection__rendered {
    line-height: 46px;
  }

  .ant-select-search .ant-input,
  .ant-select-auto-complete.ant-select .ant-select-selection__rendered {
    height: 49px !important;
    margin-top: 1px;
  }

  .ant-input {
    border: none;
    height: 50px;
    font-family: "Gilroy-Medium";
  }

  .ant-form-item {
    margin-right: 10px !important;
  }

  h1 {
    text-align: center;
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    font-size: 23px;
    font-weight: 400;
    line-height: 23.91px;
    border: 0;
    margin-bottom: 40px;
  }

  label.label-search {
    display: block;
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.46px;
    margin-bottom: -7px;
  }

  .ant-calendar-picker {
    height: 48px;
    border-radius: 5px;
  }

  .field-small {
    width: 38px;
  }

  .field-mini {
    width: 140px;
  }

  .field-medium {
    width: 250px;

    margin: 0 !important;
  }

  .field-big {
    width: 235px;

    &-2 {
      width: 235px;
    }
  }

  .field-full {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }

  .field-filtro {
    width: 100%;
  }

  .btn-comprar {
    margin: 0 auto;
    width: 310px;
    height: 48px;
    text-transform: uppercase;
    font-size: 20px;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    display: none;
  }
  .ant-radio-group {
    label {
      float: left;
      margin-right: 10px;
      border: 0;
      outline: 0;
      width: 150px;
      text-align: center;
      border-radius: 5px;
      color: #7e7e7e;
      font-family: "Gilroy-SemiBold";
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 32px;
      &:hover,
      &:active,
      &.ant-radio-button-wrapper-checked {
        background: #244a88;
        color: #fff;
      }
    }
  }

  .passenger {
    position: relative;

    &__input-wrapper {
      position: relative;
    }

    &__input-modal {
      width: 100%;
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
      z-index: 10;
    }

    @media screen and (max-width: 520px) {
      &__input-modal {
        top: -180px;
      }
    }

    &__option-row {
      & > div {
        text-align: center;
      }

      button {
        font-family: "Gilroy-SemiBold";
        font-size: 32px;
        color: #244a88;
        background-color: transparent;
        user-select: none;
        cursor: pointer;
      }

      input {
        font-family: "Gilroy-SemiBold";
        font-size: 16px;
        color: #666666;
        text-align: center;
      }

      &__close-btn {
        font-size: 16px !important;
      }

      &:last-child {
        border-top: 1px solid #e1e1e1;
      }
    }
  }

  .swap-button {
    background-image: url("../../../assets/images/icons/ico-invert.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 38px;
    height: 51px;
    background-color: transparent;
    margin-right: 10px;
    margin-top: 30px;
    cursor: pointer;
    &.one-way {
      background-image: url("../../../assets/images/icons/ico-invert-oneway.svg");
    }
  }
}

// .ant-popover-content {
//   // width: 230px;

//   .ant-popover-inner,
//   .ant-popover-arrow {
//     background: #244a88;
//   }

//   .ant-popover-inner {
//     .filter-container {
//       h3 {
//         line-height: 1;
//         color: #a2ea71;
//         font-family: 'Gilroy-Medium';
//         text-transform: uppercase;
//         margin-bottom: 10px;
//       }

//       input {
//         margin-right: 5px;
//       }

//       .item-holder {
//         line-height: 1;
//         margin-bottom: 10px;
//       }
//       label {
//         font-size: 15px;
//         font-family: 'Gilroy-Regular';
//         color: #fff;
//       }
//     }

//     .passenger-label {
//       line-height: 1;
//       display: inline-block;
//       margin-right: 30px;
//       vertical-align: middle;
//       min-width: 65px;

//       span {
//         font-family: 'Gilroy-Bold';
//         font-size: 12px;
//         color: #a2ea71;
//         text-transform: uppercase;
//       }
//       p {
//         font-size: 11px;
//         line-height: 1;
//         color: #fff;
//         margin: 0;
//         font-family: 'Gilroy-Medium';
//       }
//     }

//     .passenger-counter {
//       display: inline-block;

//       button {
//         display: inline-block;
//         vertical-align: middle;
//         background-color: transparent;
//         font-family: 'Gilroy-Light';
//         color: #a2ea71;
//         font-size: 44px;
//         user-select: none;
//         cursor: pointer;

//         &:hover {
//           color: #fff;
//         }
//       }

//       input {
//         display: inline-block;
//         font-size: 40px;
//         font-family: 'Gilroy-Regular';
//         background-color: transparent;
//         color: #fff;
//         max-width: 50px;
//         text-align: center;
//         vertical-align: middle;
//       }
//     }
//   }
// }

.page-aereo {
  .BannerSearch {
    width: 100%;
    min-height: 535px;
    background: url("../../../assets/images/aereo/banner-aereo.jpg") no-repeat;
    padding: 120px 0;
  }

  .BannerFormSearch {
    background: url("../../../assets/images/aereo/bg-aereo.png") no-repeat;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 40px 15px;
  }

  @media screen and (max-width: 520px) {
    .BannerSearch {
      height: auto;
      background-size: cover;
      padding: 20px 0;
    }

    .search-form.form-aereo {
      .ant-calendar-picker,
      .field-mini,
      .field-big,
      .field-big-2,
      .field-medium,
      .ant-radio-group {
        width: 100%;
      }

      .ant-radio-group {
        label {
          width: 48%;
        }

        label:last-child {
          margin-right: 0;
        }
      }

      .swap-button {
        display: block;
        margin: 30px auto;
      }
    }

    .BannerFormSearch {
      height: auto;
      background-size: cover;
      padding: 20px;

      .btn-comparar {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  @media screen and (max-width: 340px) {
    .search-form.form-aereo {
      .ant-radio-group {
        label {
          width: 47%;
        }
      }
    }
  }
}

.sidebar {
  background: #244a88;
  border-radius: 4px;
  margin-bottom: 20px;
}

.btnAction {
  color: #fff;
  font-family: "Gilroy-SemiBold";
  padding: 20px 10px;
  font-size: 16px;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;

    background-repeat: no-repeat;
  }
}
h2.title-filter {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  font-family: "Gilroy-SemiBold";
  padding: 10px 10px 0;
  margin-bottom: 20px;
  letter-spacing: 0.0075em;
}

.form-filter {
  padding-bottom: 15px;
  fieldset {
    padding: 10px;
    border-bottom: 1px solid #99b6d0;
    margin-bottom: 15px;
    &:last-child {
      border-bottom: none;
    }
  }
  .field-holder {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
  }

  fieldset:nth-child(5) {
    margin-bottom: 10px;
  }
}

.apply-filter {
  display: block;
  width: 90%;
  margin: 0 auto;
  background: transparent;
  border: 1px solid #99b6d0;
  font-family: "Gilroy-Medium";
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px;
  background: #fff;
  color: #00498a;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.5s ease;
  &:hover {
    background: #a2ea71;
    color: #00498a;
  }
}

.filter-type {
  font-size: 16px;
  color: #a2ea71;
  text-transform: uppercase;
  font-family: "Gilroy-Medium";
}

// switch
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.switch-containter {
  span {
    display: inline-block;
    font-size: 1.1em;
    color: #fff;
    font-family: "Gilroy-Regular";
    margin-right: 10px;
    vertical-align: middle;
  }
}

.cmn-toggle {
  position: absolute;
  text-indent: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 50px;
  height: 25px;
  border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 25px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  width: 23px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #a2ea71;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 25px;
}

.slide-side {
  margin-top: 5px;
  margin-bottom: 0;

  .ant-slider-rail {
    height: 3px;
  }

  &:hover .ant-slider-track {
    background-color: #a2ea71;
  }

  .ant-slider-track {
    height: 3px;
    background-color: #a2ea71;
  }

  .ant-slider-handle {
    width: 18px;
    height: 18px;
    border: none;
    margin-left: -9px;
    margin-top: -8px;
    background-color: #a2ea71;
  }
}
