.search-form.form-rodoviario {
  .search-row {
    margin: 20px 0 30px;
  }

  .ant-form-item-control-wrapper {
    display: block !important;
  }
  .form-input,
  .ant-calendar-picker-input {
    height: 48px;
    border-radius: 5px;
    background-color: #ffffff;
  }

  .ant-form-item {
    margin-right: 10px !important;
  }

  h1 {
    text-align: center;
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    font-size: 23px;
    font-weight: 400;
    line-height: 23.91px;
    border: 0;
    margin-bottom: 0 !important;
  }

  .swap-button-wrapper {
    text-align: center;

    .swap-button {
      background-image: url("../../../assets/images/icons/ico-switch.svg");
      display: inline-block;
      width: 57px;
      height: 57px;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      top: 10px;
    }
  }

  label {
    display: block;
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.46px;
    margin-bottom: -7px;
  }

  .ant-calendar-picker {
    height: 48px;
    border-radius: 5px;
  }

  .field-small {
    width: 38px;
  }

  .field-mini {
    width: 110px;
  }

  .field-medium {
    width: 100%;

    .form-input.ant-calendar-picker,
    input {
      height: 50px !important;
    }
  }

  .field-big {
    width: 100%;

    .ant-select-selection__rendered,
    input {
      height: 50px !important;
    }
  }

  .field-full {
    width: 100%;
    text-align: center;
  }

  .field-filtro {
    width: 100%;
  }

  .btn-comprar {
    margin: 0 auto;
    width: 310px;
    height: 48px;
    text-transform: uppercase;
    font-size: 20px;
  }

  .ant-radio-button-wrapper:not(:first-child)::before {
    display: none;
  }
  .ant-radio-group {
    label {
      float: left;
      margin-right: 10px;
      border: 0;
      outline: 0;
      width: 150px;
      text-align: center;
      border-radius: 5px;
      color: #7e7e7e;
      font-family: "Gilroy-SemiBold";
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 32px;

      &:hover,
      &:active {
        background: #244a88;
        color: #fff;
      }
    }
  }
}

.page-rodoviario {
  .BannerSearch {
    width: 100%;
    min-height: 535px;
    background: url("../../../assets/images/rodoviario/banner-rodoviario.png")
      no-repeat;
    padding: 120px 0;
  }

  .BannerFormSearch {
    background: url("../../../assets/images/rodoviario/bg-rodoviario.png")
      no-repeat;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 40px 15px;
  }

  @media screen and (max-width: 520px) {
    .BannerSearch {
      height: auto;
      background-size: cover;
      padding: 20px 0;
    }

    .search-form.form-rodoviario {
      .ant-calendar-picker,
      .field-mini,
      .field-big,
      .field-medium,
      .ant-radio-group {
        width: 100%;
      }

      .ant-radio-group {
        label {
          width: 48%;
        }

        label:last-child {
          margin-right: 0;
        }
      }

      .swap-button {
        display: block;
        margin: 30px auto;
        transform: rotate(90deg);
      }
    }

    .BannerFormSearch {
      height: auto;
      background-size: cover;
      padding: 20px;
      border-radius: 10px;

      .btn-comparar {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
