.itemResult.app-result {
  background: #f8f8f8;
  box-sizing: border-box;
  padding: 10px 30px 5px 30px;
  margin-bottom: 20px;
  p {
    margin: 0;
  }

  .FooterResult {
    border-top: 1px solid #efefef;
    padding: 5px 0 0;
    text-align: right;
    color: #595959;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.37px;
    margin-top: 10px;
    font-family: "Gilroy-SemiBold";
  }

  .ButtonSelect {
    display: block;
    background: #a2ea71;
    color: #244a88;
    font-family: "Gilroy-Medium";
    height: 32px;
    text-align: center;
    text-transform: uppercase;
    line-height: 32px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .Discount {
    background: #fe7b01;
    color: #fff;
    padding: 4px 3px 4px 5px;
    font-size: 14px;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 15px;
    position: relative;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      right: -23px;
      top: 0;
      border: 11px solid;
      border-color: transparent transparent transparent #fe7b01;
    }
  }

  .ValResult {
    color: #244a88;
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.29px;
    font-family: "Gilroy-Medium";
  }

  .name-app {
    color: #656565;
    font-family: "Gilroy-SemiBold";
    font-size: 18px;
    font-weight: 400;
  }

  .promo-app {
    color: #ff790f;
    font-family: "Gilroy-SemiBold";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .tempo-app {
    color: #919191;
    font-family: "Gilroy-Medium";
    font-size: 13px;
    font-weight: 500;

    strong {
      font-family: "Gilroy-SemiBold";
      font-size: 16px;
      font-weight: 400;
    }
  }
}

/**
* Filters
**/
