.itemResult.carro-result {
  background: #f8f8f8;
  box-sizing: border-box;
  padding: 10px 30px 5px 30px;
  margin-bottom: 20px;

  .imgrent {
    float: left;
  }

  .icoItem {
    display: inline-block;
    width: 20px;
    text-align: center;
  }
  p {
    margin: 0;
  }

  .FooterResult {
    border-top: 1px solid #efefef;
    padding: 5px 0 0;
    text-align: right;
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.37px;
    margin-top: 10px;
    font-family: "Gilroy-SemiBold";
  }

  .ButtonSelect {
    display: block;
    background: #77eb68;
    height: 32px;
    text-align: center;
    text-transform: uppercase;
    line-height: 32px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .ValResult {
    color: #244a88;
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.29px;
    font-family: "Gilroy-Medium";
  }

  .categoria {
    color: #8d8d8d;
    font-family: "Gilroy-SemiBold";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.37px;
    margin-top: 15px;
  }

  .marca {
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.09px;
    margin-bottom: 15px;
  }

  .itens-carro {
    p {
      color: #244a88;
      font-family: "Gilroy-Medium";
      font-size: 14px;
      line-height: 20.79px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.62px;
    }
  }

  @media screen and (max-width: 520px) {
    .img-car {
      margin: 15px 0;
    }

    .FooterResult {
      font-size: 12px;

      .ValResult {
        font-size: 24px;
      }
    }
  }
}
