.main-aereo {
  padding: 20px 0;

  .price-wrapper {
    margin-right: 2rem;
  }

  .price-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 28.75px;
    letter-spacing: 0.35px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .price-right {
    color: #a2ea71;
  }
}
