.search-form.form-carona {
  .ant-form-item-control {
    line-height: inherit;
  }
  input.ant-input {
    font-family: "Gilroy-Medium";
    font-size: 16px;
  }

  .btn-location {
    display: none !important;
  }

  .field-count {
    span.campo {
      width: 124px;
      height: 48px;
      border-radius: 5px;
      background-color: #ffffff;
      display: block;
      overflow: hidden;
      box-sizing: border-box;
      padding: 0 8px;
    }

    span,
    button {
      padding: 0;
      display: inline-block;
      font-family: "Gilroy-Medium";
    }

    input.ant-input {
      border: 0;
      width: 72px !important;
      font-family: "Gilroy-Regular";
      height: 48px;
      vertical-align: middle;
      font-size: 20px;
      position: relative;
      top: 0px;
      text-align: center;
      color: #999;
    }

    button {
      width: 15px;
      color: #244a88;
      font-size: 37px;
      font-family: "Gilroy-Light";
      height: 50px;
      background: #fff;
      vertical-align: middle;
      position: relative;
      top: -3px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .ant-form-item-control-wrapper {
    display: block !important;
  }
  .form-input,
  .ant-calendar-picker-input {
    height: 48px;
    border-radius: 5px;
    background-color: #ffffff;
  }

  .ant-form-item {
    margin-right: 10px !important;
  }

  h1 {
    text-align: center;
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    font-size: 23px;
    font-weight: 400;
    line-height: 23.91px;
    border: 0;
    margin-bottom: 40px;
  }

  label {
    display: block;
    color: #244a88;
    font-family: "Gilroy-SemiBold";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.46px;
    margin-bottom: 5px;
  }

  .ant-calendar-picker {
    height: 48px;
    border-radius: 5px;
  }

  .field-small {
    width: 38px;
  }

  .field-mini {
    width: 110px;
  }

  .field-medium {
    width: 170px;
  }

  .field-big {
    width: 255px;
  }

  .field-full {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .field-filtro {
    width: 100%;
  }

  .btn-comprar {
    margin: 0 auto;
    width: 310px;
    height: 48px;
    text-transform: uppercase;
    font-size: 20px;
  }

  .ant-radio-button-wrapper:not(:first-child)::before {
    display: none;
  }
  .swap-button {
    background-image: url("../../../assets/images/icons/ico-switch.svg");
    display: inline-block;
    width: 57px;
    height: 57px;
    background-color: transparent;
    margin-right: 10px;
    margin-top: 30px;
    cursor: pointer;
  }

  .ant-radio-group {
    label {
      float: left;
      margin-right: 10px;
      border: 0;
      outline: 0;
      width: 150px;
      text-align: center;
      border-radius: 5px;
      color: #7e7e7e;
      font-family: "Gilroy-SemiBold";
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 32px;

      &:hover,
      &:active {
        background: #244a88;
        color: #fff;
      }
    }
  }
}

.page-carona {
  .google-direitos {
    margin: 15px 0;
  }
  .BannerSearch {
    width: 100%;
    min-height: 535px;
    background: url("../../../assets/images/carona/banner-carona.jpg") no-repeat;
    padding: 120px 0;
  }

  .BannerFormSearch {
    background: url("../../../assets/images/carona/bg-carona.png") no-repeat;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 40px 15px;
  }

  @media screen and (max-width: 520px) {
    .BannerSearch {
      height: auto;
      background-size: cover;
      padding: 20px 0;
    }

    .search-form.form-carona {
      .ant-calendar-picker,
      .field-mini,
      .field-big,
      .field-medium,
      .ant-radio-group,
      .field-count {
        width: 100% !important;
      }

      .field-count {
        .ant-form-item-children {
          width: 100%;

          .campo {
            width: 100%;

            input.ant-input {
              width: calc(100% - 40px) !important;
            }
          }
        }
      }

      .ant-radio-group {
        label {
          width: 48%;
        }

        label:last-child {
          margin-right: 0;
        }
      }

      .swap-button {
        display: block;
        margin: 30px auto 30px;
        transform: rotate(90deg);
      }
    }

    .BannerFormSearch {
      height: auto;
      background-size: cover;
      padding: 20px;
      border-radius: 10px;

      .btn-comparar {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
